body {
  background-color: #eee;
}

h1 {
  text-align: center;
}

.container {
  max-width: 20%;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #b3b2b2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.task-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-field {
  height: 2rem !important;
  border: none !important;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  overflow: none !important;
}

.enter-icon {
  transform: rotate(360deg);
  transform: scaleY(-1);
  margin-right: 1rem;
}

input:focus {
  outline: none;
}

.ul {
  list-style: none;
  padding-bottom: 1rem;
}

.li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.li:not(:last-child) {
  border-bottom: 1px solid #b3b2b2;
}

.remove-all {
  text-align: center;
  background-color: #eee;
  padding: 1.2rem;
}

.rotate {
  transition: transform .7s ease-in-out;
  transform: rotate(1.5turn);
}
